/* HEADER STYLE */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #000;
    color: #fff;
    position: relative;
    font-family: "Quicksand", serif;
}

.logo {
    position: absolute;
    left: 50px;
    bottom: 10px;
    padding-top: 5rem;
    
}

.logo img {
    max-width: 150px;
    height: auto;
}


.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.git-icon {
    position: absolute;
    right: 50px;
    color: antiquewhite; 
    transition: transform 0.3s ease, color 0.3s ease; 
    font-size: 30px;
}
  
.git-icon:hover {
    transform: scale(1.2); 
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    right: 20px;
    position: absolute;
}

/* INÍCIO STYLE */

.inicio-section{
    font-family: "Quicksand", serif;
    background-color: #000;
    height: 100vh;
}

.inicio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-info{
    margin-left: 100px;
    color: #fff;
}

.inicio-img{
    margin-right: 100px;
}

.inicio-section h2{
    font-family: "Quicksand", serif;
    font-size: 70px;
    letter-spacing: 2px;
}

.inicio-section p{
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 100;
}

.inicio-section a{
    font-family: "Quicksand", serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: rgb(191, 40, 40);
}

/* SOBRE STYLE */


/* PROJETOS STYLE */


/* CONTATO STYLE */


/* GOOGLE FONTS */

.walter-turncoat-regular {
    font-family: "Walter Turncoat", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .lacquer-regular {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



/* RESPONSIVIDADE STYLE */


@media (max-width: 768px) {
    
    /* RESPONSIVIDADE HEADER */

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #000;
        width: 200px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        top: 1px; 
    }

    /*  FIM RESPONSIVIDADE HEADER */
}