/* HEADER STYLE */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #000;
    color: #fff;
    position: relative;
    font-family: "Quicksand", serif;
}

.logo {
    position: absolute;
    left: 50px;
    bottom: 10px;
    padding-top: 5rem;
    
}

.logo img {
    max-width: 150px;
    height: auto;
}


.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.git-icon {
    position: absolute;
    right: 50px;
    color: antiquewhite; 
    transition: transform 0.3s ease, color 0.3s ease; 
    font-size: 30px;
}
  
.git-icon:hover {
    transform: scale(1.2); 
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    right: 20px;
    position: absolute;
}

/* INÍCIO STYLE */

.inicio-section{
    font-family: "Quicksand", serif;
    background-color: #000;
    height: 100vh;
}

.inicio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.inicio-info{
    color: #fff;
    text-align: center;
    width: 60%;
    margin: 0 auto 20px;
}

.inicio-img{
    text-align: center;
    margin-top: -50px;
}

.profile-img{
    width: 180px;
    height: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.15);
    animation: float 3s ease-in-out infinite;
}

.inicio-section h2{   
    font-size: 50px;
    letter-spacing: 2px;
}


.inicio-section p, a{
    font-size: 16px;
}

.inicio-section a{
    text-decoration: none;
    transition: transform 0.3s ease;
    color: rgb(191, 40, 40);
}


.home-socials {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
    padding: 10px 0;
    width: 78px;
    border-radius: 20px;
    height: 240px;
    
}


.home-social {
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin: 10px 0;
    transition: transform 0.3s ease;
}


.home-social i {
    font-size: 40px;
    color:  rgb(191, 40, 40);
}

.home-social-icon-link:hover {
    transform: scale(1.2);
}

/* SOBRE STYLE */

.about{
    font-family: "Quicksand", serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/img-normal/159480785_00c3a587-63c5-4e11-bf1f-c256fd88c687.jpg');
    text-align: center;
    color: antiquewhite;
    overflow: hidden;
    padding: 50px 20px;
}


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.intro-img {
    object-fit: cover;
    width: 190px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.intro-img:hover {
    animation: wobble 0.5s ease-in-out;
}

.intro-info{
    margin-top: -50px;
}

.intro h2 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1rem;
  }

.info-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
}

.card-1{
    background: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 250px;
    max-width: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    overflow: hidden;
}

.card-2{
    background: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    max-width: 470px;
}

.card-1-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -2px;
    justify-content: center;
}

.card-description{
    justify-content: left;
    text-overflow: ellipsis;
    text-align: justify;
    line-height: 3;
}

.card-2-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -2px;
    justify-content: center;
}

.icon-txt{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 7.5px;
}

.icon-txt i{
    font-size: 20px;
}

.download-link{
    color: rgb(131, 130, 130);
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    border: 1px solid rgb(12, 5, 5);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.download-link:hover {
    background: rgb(191, 40, 40);
    color: #ccc;
}


/*SKILLS TECHNOLOGIES STYLE*/

.skills-tech{
    text-align: center;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-family: "Quicksand", serif;
    min-height: 100vh;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-info{
    max-width: 100%;
    margin-bottom: 30px;
}

.tagline {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #aaa;
    margin-bottom: 10px;
}
  
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
  
.description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ccc;
}

a {
    color: crimson;
    text-decoration: none;
}
  

.icons-container{
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}

.icon{
    text-align: center;
    max-width: 120px;
    font-size: 4rem;
    margin: 0 auto;
}

.icon i {
    font-size: 4rem; /* Aumenta o tamanho dos ícones */
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon i:hover {
    transform: scale(1.2); /* Efeito de aumento no hover */
    color: #fff;
}

.icon img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 10px;
    transition: filter 0.3s ease;
}

.icon img:hover {
    filter: grayscale(0%);
}
  
.icon p {
    font-size: 1rem;
    margin-top: 10px;
}

/* PROJETOS STYLE */

.projects{
    max-width: 100%;
    max-height: 100vh;
    background: url('/assets/img/img-normal/159480785_00c3a587-63c5-4e11-bf1f-c256fd88c687.jpg');
    font-family: "Quicksand", serif;
}

.projects-container{
    background-size: cover;
    padding: 2rem;
    text-align: center;
}

.project-info{
    margin-bottom: 2rem;
    color: white;
}

.project-info h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1rem;
    line-height: 1.6;
}

.box-cards{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.project-flip-card {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
}


  
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
  
.project-flip-card:hover .card-inner {
    transform: rotateY(180deg);
}
  
.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.card-front {
    background: #080808;
    color: white;
}
  
.card-back {
    background: #f4f4f4;
    color: black;
    transform: rotateY(180deg);
}

.card-front img {
    max-width: 90%; 
    max-height: 90%; 
    object-fit: contain; 
    border-radius: 5px; 
}

.card-info {
   font-size: 1rem;
}
  

/* CONTACT STYLE */

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-form{
    background-color: #fff;
    padding: 2rem;
    width: 400px;
    border-radius: 12px; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
    border: 2px solid  red; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-form:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}
  
form input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    font-size: 1rem;
    border: 2px solid #898787;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9;
    color: #333;
}
  
form input:focus {
    border-color: red; 
    background-color: #fff;
}

form input.msg-input{
    height: 4rem; 
}

.btn-form {
    padding: 0.8rem;
    background-color: #ff0000;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-form:hover {
    background-color: #d40000; 
    transform: scale(1.05);
}

.contact-section h1{
    color: #f9f9f9;
    font-family: "Quicksand", serif;
}

/* FOOTER */

footer {
    font-family: "Quicksand", serif;
    background-color: #000; 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative; 
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-socials {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-socials li {
    display: inline-block;
}

.footer-socials a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: red;
}

.back-to-top {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: #ad0912; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    text-decoration: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    font-size: 20px; 
    transition: background-color 0.3s, transform 0.2s; 
    z-index: 1000; 
}

.back-to-top:hover {
    background-color: red; 
    transform: scale(1.1); 
}


/* GOOGLE FONTS */

.walter-turncoat-regular {
    font-family: "Walter Turncoat", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .lacquer-regular {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
}
  
  .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



/* MEDIA QUERIES */


@media screen and (max-width: 768px) {
    
    html, body{
        overflow-x: hidden;
    }

    /* RESPONSIVIDADE HEADER */

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #000;
        width: 200px;
        border-radius: 5px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease; 
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }

    .logo-img{
        width: 80px; 
        height: auto;
        position: fixed; 
        margin-top: -50px;
        margin-left: -20px;
        z-index: 1000;
    }

    .logo img {
        max-width: 100px;
    }

    .logo {
        top: 1px; 
    }

    .git-icon {
        display: none;
    }

    /* RESPONSIVIDADE  INICIO */

    .inicio-section{
        flex-wrap: wrap;
        width: 100%;
    }

    .inicio-container {
        align-items: center;
        flex-direction: column;
    }

    .inicio-info {
        align-items: center;
        justify-content: center;
    }

    .inicio-img {
        width: 100%;
        align-items: center;
        display: none;
    }

    .inicio-container h2{
        font-size: 40px;
    }

    .inicio-container p{
        font-size: 15px;
    }

    .home-socials{
        display: none;
    }


    /* RESPONSIVIDADE ABOUT */

    .intro h1 {
        font-size: 1.5rem;
    }
      
    .intro p {
        font-size: 0.9rem;
    }
      
    .info-container {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
    }
      
    .card {
        width: 100%;
    }
    
}

/* Keyframes Animations */ 
@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}


@keyframes float {
    0%, 100% {
      transform: translateY(0); /* Posição inicial */
    }
    50% {
      transform: translateY(-15px); /* Sobe 15px */
    }
  }
