/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    
    html, body{
        overflow-x: hidden;
    }

    /* RESPONSIVIDADE HEADER */

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        top: 60px;   
        align-items: end;
        transition: transform 0.5s ease;
        z-index: 1000; 
        margin-left: -10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
        z-index: 1001;
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 44px;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }


    .logo-img{
        width: 80px; 
        height: auto;
        position: fixed; 
        margin-top: -50px;
        margin-left: -20px;
        z-index: 1000;

    }

    .logo {
        display: none;
    }

    .nav-img {
        display: flex;
        left: 0;
        margin-bottom: -70px;
        margin-left: 15px;
    }

    /* RESPONSIVIDADE  INICIO */

    .inicio-section{
        flex-wrap: wrap;
        width: 100%;
        height: 100vh; 
    }

    .inicio-container {
        flex-direction: column;
        justify-content: center;
        margin-left: 150px;
        width: 100%;
    }

    .inicio-info {
        flex-direction: flex;
        margin-top: 20px; 
        text-align: center;
        justify-content: center;
        margin-left: -2px;
    }

    .inicio-img {
        width: 100%;
        display: none;
    }

    .media-response{
        margin-bottom: 20px;
        display: flex;
        margin-right: 300px;
    }

    .media-response img{
        width: 150px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .inicio-container h2{
        font-size: 40px;
    }

    .inicio-container p{
        font-size: 15px;
    }

    .home-socials{
        display: none;
    }


    /* RESPONSIVIDADE ABOUT */

    .intro h1 {
        font-size: 1.5rem;
    }
      
    .intro p {
        font-size: 0.9rem;
    }
      
    .info-container {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
    }
      
    .card {
        width: 50%;
    }


    /* RESPONSIVIDADE PROJECTS */

    .projects{
        display: flex;
    }

    .project-container{
        
    }

    .box-cards{
        flex-direction: row;
    }
    
}


@media screen and (max-width: 420px){

    html, body{
        overflow-x: hidden;
    }

    /* RESPONSIVIDADE  INICIO */

    .inicio-section{
        flex-wrap: wrap;
        width: 100%;
    }

    .inicio-container {
        width: 100%;
    }

    .inicio-info {
       margin-right: -100px;
    }

    .inicio-img {
        width: 100%;
        display: none;
    }

    .media-response{
        margin-bottom: 20px;
        display: flex;
        margin-right: 500px;
        justify-content: center;
    }

    .media-response img{
        width: 150px;
        height: auto;
    }

    .inicio-container h2{
        
    }

    .inicio-container p{
        
    }

    .home-socials{
        
    }


}